#navBar{
    background-color: grey;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 4.75em;
}
#navButton{
    float: right;
    background-color: white;
    border: none;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0.5em 0.5em 0.5em 0;
}

#title {
    font-size: 2em;
    text-align: center;
    color: black;
    float:left;
    margin: 0.5em 0.5em 0.5em 0;
}

#logo {
    width: 5em;
    height: 3.125em; 
    margin: 0.5em 0.5em 0.5em 0;
    float:left;
}

#leftSideCalulator {
    width:25em;
    border-style: solid;
    margin: 1em 1em 1em 1em;
    position:absolute; 
    height:85%;
}

#selectStartingTown{
    width:95%;
    display:block;
    margin:0 0.8em 0 0.8em;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}

#selectTown{
    width:95%;
    display:block;
    margin:0 0.8em 0 0.8em;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    margin-top: 41em;
}

.blockLabel{
    font-size: 1.25em;
    margin:0.8em;
}

#leftSideButtonLeft{
    width: 48%;
    float: left;
    margin: 0.4em 0 0 0.4em;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}

#leftSideButtonRight{
    width: 48%;
    float: right;
    margin: 0.4em 0.4em 0 0;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}

#map{
    width: 80%;
    height:auto;
}

#navButton:active {
    background-color: black;
    color: white;
}

#navButton:hover {
    background-color: lightgray;
}

* {
    margin: 0;
    padding: 0;
  }

#rightSideMap {
    width: 50%;
    float:right;
    grid-area: right;
}

