/* Colour */
header {
	background-color : deeppink;
}

nav {
	background-color : darkgreen;
}

div#leftSideCalulator {
	background-color : yellow;
}

div#centerFuelCalulator {
	background-color : beige;
}

footer {
	background-color : cyan;
}

/* Layout */
/* GRID */
body {
	display : grid;		/* The body is the container */
	grid-template-columns: 1fr 30em 30em 1fr;
}

nav {
	grid-column : 1/5;
	grid-row : 1/2;
}

div#leftSideCalulator {
	grid-column : 1/2;
	grid-row : 2/4;
}

div#centerFuelCalulator {
	grid-column : 2/5;
	grid-row : 3/4;
}

div#rightSideMap{
	grid-column: 2/5;
	grid-row: 2/3;
}

footer {
	grid-column : 1/5;
	grid-row : 4/5;
}

* {
    margin: 0;
    padding: 0;
  }

/*Fonts and Sizes*/

.blockLabel{
    font-size: 1.5em;
    margin:0.8em;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

/* Nav bar */

#navBar{
    background-color: grey;
    top: 0;
    right: 0;
    left: 0;
	display : grid;		/* The body is the container */
	grid-template-columns: 30em 30em auto 10em 10em 10em;
}

.navButton{
    background-color: white;
    border: none;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
	margin: 0.5em 0.5em 0.5em 0;
	justify-content : flex-end;
}

#navQuit{
	grid-column: 6/7;
	grid-row: 1/2;
}

#navSignUp{
	grid-column: 5/6;
	grid-row: 1/2;
}

#navLogin{
	grid-column: 4/5;
	grid-row: 1/2;
}

#title {
    font-size: 2em;
    text-align: center;
    color: black;
    float:left;
    margin: 0.5em 0.5em 0.5em 0;
}

#logo {
    width: 5em;
    height: auto; 
    margin: 0.5em 0.5em 0.5em 0;
}

#navButton:active {
    background-color: black;
    color: white;
}

#navButton:hover {
    background-color: lightgray;
}

/* left Side Add Towns */
#leftSideCalulator {
    border-style: solid;
    margin: 0.5em;
}

.select{
    width:95%;
    margin:0 0.8em 0 0.8em;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}

#ButtonLeft{
	grid-column: 2/3;
	grid-row: 6/7;
}

#ButtonRight{
	grid-column: 3/4;
	grid-row: 6/7;
}

.AddRemoveButtons{
    margin: 1%;
	width: 47%;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}

/*Calculations*/
#fuelPrice{
	width:15em;
    margin:0 0.8em 0 0.8em;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}
/*Map*/
#map{
    width: 50%;
    height:auto;
}

/*Footer*/

footer{
	font-size: 1.5em;
	text-align: center;
}