<!--This documant was refactored to fix wrong way / and add alt text to the images and labels where altered-->
<!DOCTYPE html>
<html lang="en">
<!--
		Program:		Travel Planner
		Purpose:		Calculate a travel plan which also calculates distance, and fuel uses
		Author:			James Titheridge
		Date:			12/08/2021
-->
	<head>
		<meta charset="utf-8"/>
		<!--Sets title of website-->
		<title>Travel Planner</title>
		<!--Links Scripts & Style Sheets-->
		<script src="../static/js/travel.js"></script>
		<link rel="stylesheet" href="../static/css/base.css"/>
		<script src="../static/js/functions.js"></script>
		<script src="../static/js/travel.js"></script>
		<script src="../static/js/interface_functions.js"></script>
		<script src="../static/js/setup.js"></script>
	</head>

	<body>
		<nav id="navBar">
			<!--Logo in the top right-->
			<img id="logo" alt="logo" src="../static/img/test.png">
			<!--Title of the webpage-->
			<a id="title" class="title">Travel Planner</a>
			<!--Quit button -->
			<button id="navQuit" class="navButton">Quit</button>
		</nav>
		<!--Left side of the calculator-->
		<div id="leftSideCalulator">
			<!--Save & Load trip buttons-->
			<button id="buttonSave" class="addRemoveButtons">Save Trip</button>
			<button id="buttonLoad" class="addRemoveButtons">Load Trip</button>
			<!--travel list of towns-->
			<ul id="travel_list">
				<li class="selected" id="selectedListItem">Towns list will go in here</li>
				<li>Town 1</li>
			</ul>
			<!--Label for select town button-->
			<label for="selectTown" class="blockLabel">Add Town</label>
			<!--Select town dropdown-->
			<select id="selectTown" class="select" name="selectTown">
				<option value="Alexandra">Alexandra</option>
				<option value="Blenheim">Blenheim</option>
				<option value="Christchurch">Christchurch</option>
				<option value="Collingwood">Collingwood</option>
				<option value="Cromwell">Cromwell</option>
				<option value="Dunedin">Dunedin</option>
				<option value="Franz-Josef">Franz Josef</option>
				<option value="Geraldine">Geraldine</option>
				<option value="Gore">Gore</option>
				<option value="Greymouth">Greymouth</option>
				<option value="Haast">Haast</option> 
				<option value="Invercargill">Invercargill</option>
				<option value="Kaikoura">Kaikoura</option>
				<option value="Lake-Tekapo">Lake Tekapo</option>
				<option value="Milford-Sound">Milford Sound</option>
				<option value="Mount-Cook">Mount Cook</option>
				<option value="Murchison">Murchison</option>
				<option value="Nelson">Nelson</option> 
				<option value="Oamaru">Oamaru</option>
				<option value="Picton">Picton</option>
				<option value="Queenstown">Queenstown</option>
				<option value="Te-Anau">Te Anau</option>
				<option value="Timaru">Timaru</option>
				<option value="Twizel">Twizel</option>
				<option value="Wanaka">Wanaka</option>
				<option value="Westport">Westport</option>
			</select>
			<!--Add, Remove and Reset List Buttons-->
			<button id="ButtonAdd" class="addRemoveButtons">Add Town</button>
			<button id="ButtonRemove" class="addRemoveButtons">Remove Town</button>
			<button id="ButtonReset" class="select">Reset List</button>
		</div>
		<!--Center of the list-->
		<div id="centerFuelCalulator">
			<!--Label for distance & Text for distance-->
			<label for="distanceTotal" class="blockLabel">Distance</label>
			<p id="distanceTotal"></p>
			<!--Total Fuel cost & fuel effinceny-->
			<label for="fuelTotalCost" class="blockLabel">Total Fuel Cost</label>
			<label for="fuelefficency" class="blockLabel">Fuel Efficency (Km/L)</label>
			<p id="fuelTotalCost"></p>
			<label for="fuelPrice" class="blockLabel">Fuel Price</label>
			<input type="number" name="fuelPrice" id="fuelPrice"/>
			<input type="number" name="fuelefficency" id="fuelefficency"/>
			<button id="distanceCal" class="addRemoveButtons">Calculate</button>
		</div>
		<div id="rightSideMap">
			<img id="map" alt="map of the south island" src="../static/img/southIsland.png">
		</div>
		<footer>
			<p>Travel Planner By James Titheridge</p>
		</footer>
	</body>
</html>